.dsb-dropdown-menu {
  max-height: 800px !important;
  overflow-y: scroll !important;
  border-radius: 4px 0 0 4px !important;
  border: 1px solid #d9d9d9 !important;
}

.dsb-dropdown-menu [class^=dsb-dataset-] {
  border-radius: 4px 0 0 4px !important;
  border: none !important;
}

.dsb-dropdown-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.dsb-dropdown-menu::-webkit-scrollbar-thumb {
  width: 4px;
  min-height: 6px;
  background: #ffffff;
  border-radius: 2px;
}

.dsb-dropdown-menu::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 2px;
}
